*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --welcome-pane-img: url("/assets/img/hero-background-3.jpg");
    --menu-img: url("https://images.unsplash.com/photo-1715925717150-2a6d181d8846?q=80&w=3772&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --progress-bar-height: 4px;
    --progress-bar-color: gainsboro;
    --progress-bar-value-color: dodgerblue;
    --progress-bar-value: 20%;

    /*progress-bar-length*/
    --progress-bar-width: 20vh;
}
body{
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
}

/**********************
    WELCOME-PANE
***********************/
#welcome-pane{
    /*background-color: #38A1F3;*/
    height: 100vh;
    display: flex;

    .welcome-pane-nav {
        /*background-color: #38A1F3;*/
        width: 15%;
        min-width: 150px;

        display: flex;
        flex-direction: column;

        .logo {
            /*background-color: #333333;*/
            height: 20%;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 80%;
                cursor: pointer;
            }
        }
        .nav-items-wrapper {
            /*background-color: #38A1F3;*/
            flex-grow: 1;

            display: flex;
            align-items: center;
            justify-content: center;

            .nav-items {
                /*background-color: green;*/
                height: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;

                .nav-item {
                    /*background-color: #cccccc;*/
                    color: black;
                    height: 20%;
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        width: 60%;
                        padding: 10px 0;

                        background-color: black;
                        color: white;

                        border: none;
                        border-radius: 10px;

                        text-align: center;
                        font-weight: bolder;
                        /*display: inline-block;*/
                        cursor: pointer;

                        &:hover {
                            background-color: orange;
                            color: black;
                        }
                    }
                }
            }
        }
        .social-icons {
            /*background-color: blue;*/
            height: 12%;

            display: flex;
            align-items: center;
            justify-content: space-evenly;

            /*.social-icon {*/
            /*    height: 30%!important;*/
            /*    width: 30%!important;*/
            /*}*/

            /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);*/

            a {
                /*background-color: orange;*/
                width: 23%;
                height: 50%;
                font-size: 40px;
                border-radius: 10px;
                box-shadow: -3px 3px 0 5px black;

                transition: transform 0.5s ease, color 1s ease;
                &:hover {
                    transform: translateY(-20px);
                }

                display: flex;
                align-items: center;
                justify-content: center;

                & > * {
                    height: 80%!important;
                    width: 80%!important;
                }

                .facebook{
                    color: #3b5998;
                }
                .twitter{
                    color: #38A1F3;
                }
                .instagram{
                    color: #e1306c;
                }
                .yelp{
                    color: #db4a39;
                }
            }
        }
    }
    .welcome-pane-content {
        background-color: #3b5998;
        height: 100%;
        flex-grow: 1;
        border-radius: 10px;
    }
}


/**********************
    WELCOME-CONTENT
***********************/
.welcome-content {
    height: 100%;
    background: var(--welcome-pane-img);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50px;

    display: flex;
    justify-content: end;

    .hero {
        /*background-color: #3b5998;*/
        padding: 0 30px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /*position: absolute;*/
        /*background-attachment: fixed;*/
        /*width: 100%;*/
        /*height: 100%;*/

        .title {
            color: antiquewhite;
            font-size: 50px;
            text-align: center;
        }
    }

    .hero-right {
        /*background-color: #38A1F3;*/
        width: 50%;
        height: 100%;
    }
}

/**********************
    YELP-REVIEW
***********************/
#yelp-review-wrapper {
    height: 100vh;
    background-color: lightgrey;
}

/**********************
    MENU
***********************/
#menu-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #menu-container{
        --menu-category-height: 60px;
        --bg-bubble-diameter: 70px;
        --bubble-diameter: 50px;

        width: 95%;
        min-width: 400px;
        height: 90%;
        background-color: #ffcc80;

        display: grid;
        grid-template-rows: 1fr var(--menu-category-height);
        overflow: hidden;
        position: relative;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        #menu-content {
            width: 100%;
            height: calc(100% - var(--bubble-diameter));
            grid-row: 1;

            * {
                /*does not collapse top and bottom margin*/
                margin-left: 10px;
                margin-right: 10px;

                /*will collapse top and bottom margin*/
                /*margin: auto 10px;*/
            }
        }

        .special-design-wrapper {
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: repeat(3, 1fr);
            position: relative;
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            overflow: hidden;
        }
        .row-design-wrapper {
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: repeat(1, 1fr);
            position: relative;
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            overflow: hidden;
        }
        .flavor-and-price-design-wrapper {
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: repeat(1, 1fr);
            position: relative;
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            overflow: hidden;

            #price {
                --num-of-rows: 4;
                --grid-height: 100%;

                color: blue;
                grid-row: 1/ span 3;
                grid-column: 1;
                font-size: 15px;
                display: grid;
                width: 100%;
                height: var(--grid-height);

                grid-template-rows: repeat(var(--num-of-rows), calc(var(--grid-height)/var(--num-of-rows)));
                grid-template-columns: repeat(4, 1fr);
                #price-1 {
                    grid-row: 1;
                    grid-column: 1 / span 2;
                }
                #price-2 {
                    grid-row: 2;
                    grid-column: 2 / span 2;
                }
                #price-3 {
                    grid-row: 3;
                    grid-column: 3 / span 2;
                }
                #price-4 {
                    grid-row: 4;
                    grid-column: 4;
                }
            }
            #flavor {
                display: flex;
                color: black;
                grid-row: 4 / span 2;
                grid-column: 1 / span 2;
                overflow: auto;
            }
        }

        .special-item {
            color: green;
        }
        .rice-item {
            color: blue;
        }
        .ice-cream-item {
            color: red;
        }
        .drink-item {
            color: yellow;
        }
        .catering-item {
            color: white;
        }

        #menu-category {
            width: 100%;
            height: var(--menu-category-height);
            background-color: #fff;

            .flex-menu-category {
                position: absolute;
                display: flex;
                justify-content: space-evenly;
            }

            #menu-category-bubble-wrapper{
                width: 100%;
                bottom: calc(var(--menu-category-height)/2);

                /*#bubble1{*/
                /*    transform: translateY(0%);*/
                /*    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
                /*    > span{*/
                /*        opacity: 0.7;*/
                /*    }*/
                /*}*/

                .bubble{
                    background-color: #fff;
                    width: var(--bubble-diameter);
                    height: var(--bubble-diameter);
                    bottom: 85px;
                    border-radius: 50%;
                    z-index: 1;
                    transform: translateY(120%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .icon{
                    opacity: 0;
                }
            }
            #menu-category-icon-wrapper{
                width: 100%;

                .menu-icon {
                    opacity: 0.4;
                    transform: translateY(100%);
                    cursor: pointer;
                    width: var(--bubble-diameter);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

        #bg-wrapper{
            filter: url(#goo);
            position: absolute;
            box-sizing: content-box;
            margin: 0;
            left: 0;
            width: 100%;
            height: calc(var(--bubble-diameter));
            bottom: var(--menu-category-height);
            background-color: #ffcc80;
            display: flex;
            align-items: end;

            #bg{
                background-color: #ffcc80;
                width: 120%;
                height: 100%;
                /*margin-left: -10%;*/
                /*margin-right: -10%;*/
            }
            #bg-bubble{
                position: absolute;
                background-color: #ffcc80;
                width: var(--bg-bubble-diameter);
                height: var(--bg-bubble-diameter);
                border-radius: 50%;
                z-index: 1;
                /*bottom: -50px;*/
                /*left: 50px;*/
                /*transform: translateX(-50%);*/
            }
        }
    }
}

/**********************
    OPENING-HOURS
***********************/
#opening-hours {
    --opening-hours-background: url('https://captainkimo.s3.amazonaws.com/wp-content/uploads/2015/04/WPB-City-Skyline-Sunset-at-Palm-Beach-Marina.jpg');
    width: 100%;
    height: 100%;

    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),
    var(--opening-hours-background)center/cover no-repeat fixed;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/**********************
    ABOUT
***********************/
#about {
    background-color: #38A1F3;
    height: 95%;
    margin: 10px;
    /*border-radius: 50px;*/
}

/**********************
    FOOTER
***********************/
#contact-us {
    background:lightgrey;
    text-align: center;

    display: grid;
    grid-template-areas:
        "a a . ."
        "b b b b";

    #embed-map {
        padding: 10px;
        grid-area: a;

        height: 200px;
    }
    .section-center {
        grid-area: b;

        .text{
            text-transform: uppercase;
            font-size: 24px;
            margin-top: 20px;
        }
    }
}