*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --welcome-pane-img: url("https://cdn.pixabay.com/photo/2016/10/04/20/04/soup-1715309_1280.jpg");
    --menu-img: url("https://images.unsplash.com/photo-1715925717150-2a6d181d8846?q=80&w=3772&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --progress-bar-height: 4px;
    --progress-bar-color: gainsboro;
    --progress-bar-value-color: dodgerblue;
    --progress-bar-value: 20%;

    /*progress-bar-length*/
    --progress-bar-width: 20vh;
}
.title-text{
    font-size: 40px;
    text-align: center;
}
body{
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
}

/*PROGRESS BAR*/
.progress-bar-container {
    --progress-bar-height: 50px;
    --progress-bar-color: gainsboro;
    --progress-bar-value-color: dodgerblue;
    --progress-bar-value: 20%;
    --progress-bar-width: 20vh;

    position: fixed;
    top: calc(var(--progress-bar-width)/2 + 20vh);
    left: calc(var(--progress-bar-width) / -2 + 5vw);
    height: calc(var(--progress-bar-height) * .4);
    width: var(--progress-bar-width); /*progress-bar-container length*/
    border: none;
    z-index: 1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /*ROTATING A GRID BY 90deg HAS SEVERAL EFFECTS ON ELEMENTS' ORIENTATION*/
    /*THESE EFFECTS APPLY TO THE GRID AND ALL OF ITS CHILDREN*/
    /*Display width = height*/
    /*Display height = width*/
    /*Grid column = grid-row*/
    /*Grid row = grid-column*/
    /*Top = left, Right = top, etc.*/
    transform: rotate(90deg);

    #progress-bar-wrapper {
        grid-row: 2;
        grid-column: 1 / -1;

        display: flex;
        align-items: center;
        height: 100%;

        progress {
            appearance: none;
            height: 70%;
            width: var(--progress-bar-width);

            &::-moz-progress-bar {
                background-color: var(--progress-bar-value-color);
            }

            &::-webkit-progress-bar {
                background-color: var(--progress-bar-color);
            }

            &::-webkit-progress-value {
                background-color: var(--progress-bar-value-color);
            }

            &::-ms-fill {
            }
        }
    }
    #progress-bar-section {
        grid-column: 1 / span 3;
        grid-row: 1 / span 3;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        button {
            width: 10%;
            height: 60%;
            border-radius: 50px;
        }
    }
}
/*end of PROGRESS BAR*/

/*WELCOME PANE*/
.welcome-pane{
    /* display: flex;*/
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),
    var(--welcome-pane-img)center/cover no-repeat fixed;
    /* flex-direction: column;*/
    margin-top: auto;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

    .title{
        color: antiquewhite;
        font-size: 50px;
    }
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color:#fff;
    cursor: pointer;
    border: 2px solid orange;
    margin-top:10px;

    &:hover{
        background: #fff;
        color: orange;
        border: none;
    }
}
.pulsate{
    /*-webkit-*/animation: pulsate 3s ease-in-out;
    /*-webkit-*/animation-iteration-count:infinite ;
    opacity: .3;
    color: black;
}
@-webkit-keyframes pulsate{
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }

}
/*end of WELCOME PANE*/

/*MENU*/
#menu-container{
    --menu-category-height: 60px;
    --bg-bubble-diameter: 70px;
    --bubble-diameter: 50px;

    width: 95%;
    min-width: 400px;
    height: 90%;
    background-color: #ffcc80;
    display: grid;
    grid-template-rows: 1fr var(--menu-category-height);
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);


    #menu-content {
        width: 100%;
        height: calc(100% - var(--bubble-diameter));
        grid-row: 1;

        * {
            /*does not collapse top and bottom margin*/
            margin-left: 10px;
            margin-right: 10px;

            /*will collapse top and bottom margin*/
            /*margin: auto 10px;*/
        }
    }

    .special-design-wrapper {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        overflow: hidden;
    }
    .row-design-wrapper {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        overflow: hidden;
    }
    .flavor-and-price-design-wrapper {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        overflow: hidden;

        #price {
            color: blue;
            grid-row: 1/ span 3;
            font-size: 15px;
            display: grid;
            width: 100%;

            grid-template-areas:
                "a a . ."
                ". b b ."
                ". . c c"
                ". . . d";
            #price-1 {
                grid-area: a;
            }
            #price-2 {
                grid-area: b;
            }
            #price-3 {
                grid-area: c;
            }
            #price-4 {
                grid-area: d;
            }
        }
        #flavor {
            display: flex;
            color: black;
            grid-row: 4 / span 2;
            grid-column: 1 / span 2;
            overflow: auto;
        }
    }

    .special-item {
        color: green;
    }
    .rice-item {
        color: blue;
    }
    .ice-cream-item {
        color: red;
    }
    .drink-item {
        color: yellow;
    }
    .catering-item {
        color: white;
    }

    #menu-category {
        width: 100%;
        height: var(--menu-category-height);
        background-color: #fff;

        .flex-menu-category {
            position: absolute;
            display: flex;
            justify-content: space-evenly;
        }

        #menu-category-bubble-wrapper{
            width: 100%;
            bottom: calc(var(--menu-category-height)/2);

            /*#bubble1{*/
            /*    transform: translateY(0%);*/
            /*    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
            /*    > span{*/
            /*        opacity: 0.7;*/
            /*    }*/
            /*}*/

            .bubble{
                background-color: #fff;
                width: var(--bubble-diameter);
                height: var(--bubble-diameter);
                bottom: 85px;
                border-radius: 50%;
                z-index: 1;
                transform: translateY(120%);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .icon{
                opacity: 0;
            }
        }
        #menu-category-icon-wrapper{
            width: 100%;

            .menu-icon {
                opacity: 0.4;
                transform: translateY(100%);
                cursor: pointer;
                width: var(--bubble-diameter);
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    #bg-wrapper{
        filter: url(#goo);
        position: absolute;
        box-sizing: content-box;
        margin: 0;
        left: 0;
        width: 100%;
        height: calc(var(--bubble-diameter));
        bottom: var(--menu-category-height);
        background-color: #ffcc80;
        display: flex;
        align-items: end;

        #bg{
            background-color: #ffcc80;
            width: 120%;
            height: 100%;
            /*margin-left: -10%;*/
            /*margin-right: -10%;*/
        }
        #bg-bubble{
            position: absolute;
            background-color: #ffcc80;
            width: var(--bg-bubble-diameter);
            height: var(--bg-bubble-diameter);
            border-radius: 50%;
            z-index: 1;
            /*bottom: -50px;*/
            /*left: 50px;*/
            /*transform: translateX(-50%);*/
        }
    }
}
/*end of MENU*/

/*SOCIAL ICONS*/
#social-icons{
    height: 150px;
    background:#fff;
    text-align: center;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);*/
    padding: 50px 0 50px 0;

    a {
        display: inline-block;
        padding: 5px 10px;
        margin: 0 5px;
        font-size: 40px;
        border-radius:5px;
        transition: transform 0.5s ease, color 1s ease;

        &:hover {
            transform: translateY(-20px);
        }
    }

    .facebook{
        color: #3b5998;
    }
    .twitter{
        color: #38A1F3;
    }
    .instagram{
        color: #e1306c;
    }
    .plus{
        color: #db4a39;
    }
}
/*end of SOCIAL ICONS*/

/*FOOTER*/
.footer{
    background:#000;
    text-align: center;

    .text{
        text-transform: uppercase;
        color: #fff;
        font-size: 24px;
        margin-top: 20px;
    }
}
/*end of FOOTER*/

/*DRAGGABLE*/
.draggable {
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px;
    background: rgba(255,255,255,0.66);
    border: 2px  solid rgba(0,0,0,0.5);
    border-radius: 4px; padding: 8px;
    z-index: 100;
}
/*end of DRAGGABLE*/

/*RULER*/
.ruler, .ruler li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

    /*without this, the ruler is broken*/
    box-sizing: content-box;
}
/* IE6-7 Fix */
.ruler, .ruler li {
    *display: inline;
}
.ruler {
    background: lightYellow;
    box-shadow: 0 -1px 1em hsl(60, 60%, 84%) inset;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #ccc;
    margin: 0;
    height: 3em;
    padding-right: 1cm;
    white-space: nowrap;

    li {
        padding-left: 1cm;
        width: 2em;
        margin: .64em -1em -.64em;
        text-align: center;
        position: relative;
        text-shadow: 1px 1px hsl(60, 60%, 84%);
    }
    li:before {
        content: '';
        position: absolute;
        border-left: 1px solid #ccc;
        height: .64em;
        top: -.64em;
        right: 1em;
    }
}
/*end of RULER*/

/*==================================================================================*/
/*THE SECTION BELOW IS FOR REFERRENCE ONLY*/

/*NAVBAR*/
#tab-navbar{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 10vw;

    cursor: pointer;
    z-index: 1;
    background-color: purple;
}
.exit-menu {
    position:absolute;
    top:15px;
    right:15px;
    color:lightgray;
    font-size:20px;
    padding:10px;
}

.bar{
    background:orange;
    border-radius: 10%;
    transition: .4s;
}
#bar1{
    width:40px;
    height: 10px;
    transform: translateY(-4px);
}
#bar2{
    width: 40px;
    height: 10px;
}
#bar3{
    width: 40px;
    height: 10px;
    transform: translateY(4px);
}

.change {
    #bar1 {
        transform: translateY(6px) rotateZ(45deg);
    }
    #bar2{
        opacity: 0;
    }
    #bar3{
        transform: translateY(-15px) rotateZ(-45deg);
    }
}
.change-btn {
    display: block;
}
.nav {
    display: none;

    li {
        margin: 20px 10px 10px 20px;
        padding-top: 10px;
        list-style-type:none;

        a {
            text-decoration: none;
            color: orange;
            font-size: 30px;
            text-transform:uppercase ;
            font-weight: bold;

            &:hover{
                color: #fff;
            }
        }
    }
}
/*end of NAVBAR*/

/*ABOUT*/
#about{
    padding: 40px;
    min-height: 100vh;
}

.about{
    margin: 30px 0;
    display: flex;
}
.about-icon .fas{
    font-size: 60px;
    color: orange;
    margin-right: 20px;
}
.about-subtitle{
    text-transform: capitalize;
    color: orange;
    font-size: 25px;
}
.about-info{
    margin-top: 10px;
    line-height: 1.5;
}
.about-icon:hover .fas,
.about-subtitle:hover{
    transition: transform 2s ease, color 2s ease;
    transform: translateY(-10px);
    color: #cd6100;
    cursor: pointer;
}
@media screen and (min-width: 576px){
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        flex: 0 0 calc(50% - 16px);
    }
}
@media screen and (min-width:972px){
    .about{
        flex: 0 0 calc(33.3% - 16px);
    }
}
/*end of ABOUT*/

/*MENU 2*/
.menu {
    min-height: 100vh;

    .menu-image{
        background: var(--menu-img)center/cover fixed no-repeat;
    }
    .menu-text{
        min-height: 80vh;
        display: flex;
        align-items: center;
        background: orange;
        columns: 30px;
        padding: 40px 0;

        p {
            margin: 20px 0;
            line-height: 2;
        }

        h1 {
            font-size: 40px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        a {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            padding: 13px 20px;
            border-radius: 200px;
            font-weight: bold;
            background: rgb(10, 10, 10);
            color:orange;
            cursor: pointer;
            border: 2px solid #000;
            margin-top:10px;

            &:hover{
                color:orange;
                background: #fff;
                border:none;
            }
        }
    }
    .menu-text-center{
        width: 90%;
        margin: 0 auto;
    }
    @media screen and (min-width:776px){
        .menu{
            display: flex;
        }
        .menu-text{
            flex: 0 0 30%;
        }
        .menu-image{
            flex: 0 0 70%;
            clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%)
        }
        .menu{
            background: orange;
        }
    }
}
/*end of MENU 2*/

/*NUMBERS/COUNTERS*/
.number{
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
    url('https://images.pexels.com/photos/941869/pexels-photo-941869.jpeg?auto=compress&cs=tinysrgb&w=600') center/cover fixed no-repeat;
    padding: 60px 0;
    color:#fff;

    &:hover{
        color: orange;
    }

    p{
        font-size: 30px;
        font-weight: bold;
    }

    .fas{
        font-size: 60px;
        margin: 20px 0;
    }

    h3{
        text-transform: uppercase;
    }
    @media screen and (min-width:576PX){
        #numbers {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and (min-width: 992px){
        #numbers{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
/*end of NUMBERS/COUNTERS*/

/*CARDS*/
#food{
    padding: 20px;

    img {
        width: 100%;
        min-height: 100%;
        display: block;
        transition: transform 4s;
    }
}
.food-container {
    max-width: 90vw;
    margin: 0 auto;
}
.food-card {
    position: relative;
    background: linear-gradient(rgba(205, 96, 0, 0.7),rgba(205,96,0,0.7));
    margin:20px 0;
    color: #000;
    overflow: hidden;
    padding: 3px;
    border-radius: 16px;
    border: 1px solid orange;
    box-shadow: 2px 3px 1px 1px #cd6100;

    &:hover {
        img{
            opacity: 0.4;
            transform: scale(1.3);
        }
        .img-text, .img-footer {
            opacity:1;
        }
    }
}
.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 4s;

    h1{
        font-size: 30px;
        margin-bottom: 10px;
    }

}
.img-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    color: #000;
    transition: opacity 4s;
}
.food-btn {
    display: inline-block;
    background:#000;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 32px;
    color: #fff;
    font-weight: bold;
    border-radius: 180px;
    cursor: pointer;
    margin-top: 16px;
    transition: all 0.3s ease-in-out;
    font-size:18px;
    outline:none;

    &:hover{
        color: orange;
        background:#ffff;
        border: #000;
        outline: none;
    }
}
.fas{
    font-size: 30px;
}
@media screen and (min-width: 576px){
    .food-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
    }
}
@media screen and (min-width: 992px){
    .food-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap:16px ;
    }
}
/*end of CARDS*/

/*GALLERY*/
#gallery{
    padding: 40px;
    background: #fff;
}
.gallery-item{
    background: linear-gradient(rgb(241, 161, 13), rgb(255, 165, 0));

    img{
        display:block;
        width: 100%;
        opacity: 1;
        transition: opacity 2s ease;

        &:hover{
            opacity: 0.5;
        }
    }
}
@media screen and (min-width:576px){
    #gallery-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:992px){
    #gallery-center{
        grid-template-columns: repeat(4, 1fr);
    }
}
/*end of GALLERY*/